.resume {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    animation: loadInTransition 1.5s ease;
    align-items: center;
}

#item-resume {
    width: 650px;
}

.resume button {
    width: 80px;
    height: 30px;
}

.resume .btn {
    padding: 10px;
}

#embed {
    width: 80%;
    height: 600px;
}

@media screen and (max-width: 767px) {
    #item-resume {
        display: none;
    }
}